<%- include ('./partials/header') %>

<div clas="container">
	<div class="row">
		<div class="col-md-3">
			<% if(currentUser.type=="Teacher"){ %>
		 <p class="lead">
			 Submitted Works
			 <div class="list-group">  
			 <%items.forEach( function(item){%>
			
			   
				<li class="list-group-item"><%=item.name%>
				<hr>
				<%=item.created%>
				<a href='/submittedassignment/<%=item._id %>'>View Work</a>
				</li>
				
				<br>
				
			 <%})%>
			</div>
			
		</p>
		<%}%>
		
		
		</div>		
	<div class="col-md-9">
		<div class="thumbnail" style=" border:1px solid #000; width:350px;height:100px;" >
			<img class="img-responsive" src="/<%= assignment.img %>" >
	     </div>
			<div class="caption-full">
				<h5>
					<a><%=assignment.topic%></a> - <%=assignment. marks_alloted %> Points
				</h5>
			    <h5>
					<a>Due <%=assignment.last_date%></a> 
				</h5>
				
				<% if(currentUser.type=="Teacher"){ %>
				  <form action="/assignment/<%=assignment._id %>?_method=DELETE"  method="POST">
					<button class="btn btn-danger">
						Delete
					</button>
				  </form>		
				<%}%>

			</div>
			<hr >
			
			<% if(currentUser.type=="Student" ){ %>
			 
				<h5 style="color:red">
					Add Attachment
				</h5>	 
			<form method="POST" action="/assignment/<%=assignment._id%>/submit"  enctype="multipart/form-data"> 
				
				<div><label for="image">
					<b >  Add my Assignment </b></label>            
                         <input type="file" id="image" name="image" value="" required > 
				</div>

				<div >
					<button type="submit" class="btn btn-primary">Mark as Done</button> 
			   </div>
			   <div> 
					
				<input  id="topic" name="topic" value='<%=assignment.topic%>' rows="4" cols="90" placeholder="Write something here..."  style="margin-left:20px;margin-bottom:10px; visibility: hidden;"> 	
			</div>
			<div> 
				
				<input  id="name" name="name" value='<%=currentUser.username%>' rows="4" cols="90" placeholder="Write something here..."  style="margin-left:20px;margin-bottom:10px; visibility: hidden;"> 	
			</div>
			<div> 
				
				<input  id="enrollment_no" name='enrollment_no' value='<%=currentUser.enroll%>' rows="4" cols="90" placeholder="Write something here..." style="margin-left:20px;margin-bottom:10px; visibility: hidden;" > 	
			</div>
               
		   </form>
		   <%}%>
		</div>
		
	</div>	

	
	</div>
	
</div>
<script>
    var inps = document.getElementsByTagName('input');
            
            submitForm = function(expvalue){
              alert(expvalue);
              for(var j=0;j<inps.length;j++){
                    inps[j].value = expvalue;
                    
                  }
              document.getElementById('Fm').submit();
         };
  </script>
<%- include ('./partials/footer') %>

        
          
        
            
