<%- include ('./partials/header') %>

<div clas="container">
	<div class="row">
		<div class="col-md-3">
			<% if(currentUser.type=="teacher"){ %>
		 <p class="lead">
			 Submitted Works
			 <div class="list-group">  
			 <%items.forEach( function(item){%>
			
			   
				<li class="list-group-item"><%=item.name%>
				<hr>
				<%=item.created%>
				<a href='<%=item.image%>'>View Work</a>
				</li>
				<!-- <li class="list-group-item">Info 2</li> -->
				<!-- <li class="list-group-item">Info 3 </li> -->
				<br>
				
			 <%})%>
			</div>
			
		</p>
		<%}%>
		
		
		</div>		
	<div class="col-md-9">
		<div class="thumbnail" >
			<img class="img-responsive" src="/<%= assignment.img %>" >
	
			<div class="caption-full">
				<h4>
					<a><%=assignment.topic%></a>
				</h4>
				<p>
					Max Marks Alloted:- <%=assignment. marks_alloted %>
				</p>	 
				<% if(currentUser.type=="teacher"){ %>
				  <form action="/assignment/<%=assignment._id %>?_method=DELETE"  method="POST">
					<button class="btn btn-danger">
						Delete
					</button>
				  </form>		
				<%}%>

			</div>
			<% if(currentUser.type=="student" ){ %>
			
			<form method="POST" action="/assignment/<%=assignment._id%>/submit"  enctype="multipart/form-data"> 
				<div> 
					<!-- <label for="name"><b style="color:red">Enter name</b></label>  -->
					<input  id="name" name="name" value='<%=currentUser.username%>' rows="4" cols="90" placeholder="Write something here..."  style="margin-left:20px;margin-bottom:10px; visibility: hidden;"> 	
				</div>
				<div> 
					<!-- <label for="enrollment_no"><b style="color:red">Enter Enrollment No</b></label>  -->
					<input  id="enrollment_no" name='enrollment_no' value='<%=currentUser.enroll%>' rows="4" cols="90" placeholder="Write something here..." style="margin-left:20px;margin-bottom:10px; visibility: hidden;" > 	
				</div>

				<div> <span><label for="image"><b style="color:red">Add my Assignment</b></label>            


					<input type="file" id="image" name="image" value="" required> </span>
				</div>

				<div style="margin-left:300px">
					<button type="submit" class="w3-button w3-theme">  Submit Assignment</button> 
			   </div>

			   <div>My Work</div>
			   


		   </form>
		   <%}%>
		</div>
		
	</div>	

	
	</div>
	
</div>
<script>
    var inps = document.getElementsByTagName('input');
            
            submitForm = function(expvalue){
              alert(expvalue);
              for(var j=0;j<inps.length;j++){
                    inps[j].value = expvalue;
                    
                  }
              document.getElementById('Fm').submit();
         };
  </script>
<%- include ('./partials/footer') %>

        
          
        
            
