<%- include ('./partials/header') %>
    <nav id="experiment-article-navigation" class="default">
        <ul id="experiment-article-navigation-menu">
            <li> <a href="/theory<%= experimentnumber %>"><img src=http://vlabs.iitkgp.ernet.in/be/images/theory.jpg>
                    <br>
                    THEORY
                </a>
            </li>
            <li> <a href="/procedure<%= experimentnumber %>"><img src=http://vlabs.iitkgp.ernet.in/be/images/procedure.jpg>
                    <br>
                    PROCEDURE
                </a>
            </li>
            <li> <a href="/simulation<%= experimentnumber %>"><img src=http://vlabs.iitkgp.ernet.in/be/images/simulation.jpg>
                    <br>
                    SIMULATION
                </a>
            </li>
            <li> <a href="/quiz/<%= experimentnumber %>"><img src="http://vlabs.iitkgp.ernet.in/be/images/quizzes.jpg">
                    <br>
                    QUIZ
                </a>
            </li>
            <li> <a href="/assignment"><img src="http://vlabs.iitkgp.ernet.in/be/images/assignment.png">
                    <br>
                    ASSIGNMENT
                </a>
            </li>
            <li> <a href="/liveclass"><img src="https://www.iasnext.com/wp-content/uploads/2020/10/121_main_01.png">
                    <br>
                    LIVE CLASS
                </a>
            </li>
    </nav>
    </div>
